@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: white;
  font-family: 'Courgette', cursive;
}
#root {
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}
h1 {
  text-align: center;
  font-size: 45px;
}
.tasksContainer {
  margin-top: 20px;
  background-color: #00000091;
  border: 2px solid #b59c04;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55vh;
  width: 75%;
  overflow-y: auto;
}
.tasksContainer::-webkit-scrollbar {
  width: 12px;
}
.tasksContainer::-webkit-scrollbar-thumb {
  background-color: #888787;
  border-radius: 10px;
}
.task {
  background-color: #888787;
  left: -100%;
  margin-bottom: 5px;
  margin-top: 8px;
  width: 92%;
  border-radius: 5px;
  padding-left: 15px;
  color: #f1c700;
  position: relative;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}
@keyframes slide {
    0% { left: -100%; }
    100% { left: 0; }
}
.reminder {
  border-left: 10px solid green;
}
h3 {
  margin-bottom: -5px;
}
button {
  margin-top: 30px;
  color: #f1c700;
  background-color: black;
  border-style: hidden;
  font-family: 'Courgette', cursive;
  font-size: 22px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}
button:hover {
  color: black;
  background-color: #d8b900;
}

@media only screen and (max-width: 1000px) {
  /* For mobile phones: */
  .tasksContainer {
    width: 90%;
  }
}
